.env.dist export-ignore
.gitattributes export-ignore
.gitignore export-ignore
docker-compose.yml export-ignore
phpstan.neon export-ignore
Jenkinsfile export-ignore
/examples export-ignore
/features export-ignore
/spec export-ignore
